<h1>Добро пожаловать!</h1>

<h3>Регистрация:</h3>
<form action="/signup" method="post">

<label for="name">Имя</label>
<input type="text" name="name" id="name">

<label for="city">Город</label>
<input type="text" name="city" id="city">

<label for="email">Почта</label>
<input type="email" name="email" id="email">

<label for="password">Пароль</label>
<input type="password" name="password" id="password">

<button type="submit">Отправить</button>
</form>

<h3>Войти:</h3>
<form action="/signup" method="post">

<label for="email">Почта</label>
<input type="email" name="email" id="email">

<label for="password">Пароль</label>
<input type="password" name="password" id="password">

<button type="submit">Отправить</button>
</form>

<h3><a href="/logout">Выйти</a></h3>
