<form class="singup" action='/singup' method='post'>
      <div class="mb-3">
    <label for="userName" class="form-label text-white bg-black">Name</label>
    <input name="name" type="text" class="form-control" id="userName">
  </div>

  <div class="mb-3">
    <label for="userEmail1" class="form-label text-white bg-black">Email address</label>
    <input name="email" type="email" class="form-control" id="userEmail1">
  </div>

  <div class="mb-3">
    <label for="userPassword1" class="form-label text-white bg-black">Password</label>
    <input name="password" type="password" class="form-control" id="userPassword1">
  </div>

  <div class="mb-3">
    <label for="userPassword1" class="form-label text-white bg-black">City</label>
    <input name="password" type="password" class="form-control" id="userPassword1">
  </div>

  <button type="submit" class="btn btn-outline-light">Submit</button>
</form>

