#navbarSupportedContent{
  margin: 20px;
  padding: 15px;
}

.singup{
  height: 600px;
  width: 400px;
  margin-left: 700px;
  margin-top: 50px;
}

/* #search{
  margin-right: 400px;
} */

.singin{
  height: 600px;
  width: 400px;
  margin-left: 700px;
  margin-top: 50px;
}

/* .info{
  background-color: rgb(86, 130, 137);
  height: 280px;
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  margin-top: 20px;
  margin-left: 650px;
  color:white;
  opacity: 0.7;  
} */
/* 
.info1{
  background-color: rgb(86, 130, 137);
  height: 150px;
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  margin-top: 20px;
  margin-left: 650px;
  color:white;
  opacity: 0.7;  
} */


.body{
  background-attachment: scroll;
  background-image: url('../fon/1627123702_8-kartinkin-com-p-fon-stim-kosmos-sinii-krasivo-8.jpeg');
  background-size: 1900px;
}

.add{
  height: 470px;
}

#body{
  height: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  /* flex-direction: column; */
  /* justify-content: space-around; */
}

.space{
  height: 400px;
}

#cards{
  background-color: rgb(129, 161, 202);
  height: 60px;
  padding-top: 10px;
  text-indent: 30px;
  margin: 20px;
  color:white;
  border-radius: 10px;
  opacity: 0.9;  
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
margin: 20px;
}

#box{
  background-color: rgb(194, 206, 216);
  width: 300px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
}

.imgcart{
  height: 60px;
  width: 60px;
}

img{
  width: 280px; 
  border-radius: 10px;
}

#title{
   font-size: 18px;
   color:rgb(27, 66, 98);
}

#ganre{
  padding-top: 10px;
  line-height: 15px;
  font-size: 18px;
  text-align: left;
  color: rgb(32, 19, 45);
}

#kor{
  background-image: url("../fon/1625576606_1-kartinkin-com-p-fon-bezdna-krasivie-foni-1.jpeg");
}

.LK{
  background-image: url("../fon/1643769329_13-abrakadabra-fun-p-mramor-temnii-tekstura-besshovnaya-21.jpeg");
  background-size: 1800px;
  opacity: 0.7;
}